    /* navAnimation */
    @keyframes underline {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }





    nav ul li a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px; 
        background-color: #F1F2EB;     /* kleur aanpassen bij geen groene background */
        transition: width 0.5s ease; 
    }


    nav ul li a:hover::after {
        animation: underline 0.5s forwards;
    }

 /* hero homepage animatie */
 
    @keyframes rideIn {
        0% {
          transform: translateX(-50%) translateY(-50%);
        }
        100% {
          transform: translateX(-50%) translateY(-50%);
        }
      }
      
      @keyframes moveRight {
        0% {
          transform: translateX(-100%) translateY(-50%);
        }
        100% {
          transform: translateX(0%) translateY(-50%);
        }
      }
      
      .bike-image {
        animation: rideIn 2s ease forwards, moveRight 2s ease forwards;
      }