<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Bikestore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <script src="{{siteUrl}}vue-assets/js/checkout1.js"></script>
    <link rel="stylesheet" href="{{siteUrl}}vue-assets/css/style.css">
        <link rel="icon" type="image/x-icon" href="{{siteUrl}}/vue-assets/assets/favicon.ico">

</head>

<body class="bg-primary-white"><div id="top"></div>


{% include 'upper-navbar.twig' %}

{% include 'navbar.twig' %}


 <div class="max-w-screen-xl mx-auto">
    <div class="mt-20 mb-20 px-8">
      <h2 class="font-medium font-sofia text-xl md:text-3xl text-nav-text-green mb-8"> Algemene Voorwaarden - Bikestore Elektrische Fietsen</h2>
        <div>
          <h3 class="font-medium font-sofia text-xl md:text-3xl text-nav-text-green mt-8 mb-3">
            Definities
          </h3>
          <p class="lg">Bikestore: Verwijst naar Bikestore Elektrische Fietsen, de aanbieder van elektrische fietsen en gerelateerde producten en diensten.
            Klant: Verwijst naar een natuurlijke persoon of rechtspersoon die producten of diensten koopt bij Bikestore Elektrische Fietsen.
            Producten: Verwijst naar elektrische fietsen, accessoires, onderdelen en andere gerelateerde producten die worden aangeboden door Bikestore Elektrische Fietsen.
            Diensten: Verwijst naar alle diensten die worden aangeboden door Bikestore Elektrische Fietsen, waaronder maar niet beperkt tot reparaties, onderhoud, en klantenservice.
            </p>
        </div>

        <div>
          <h3 class="font-medium font-sofia text-xl md:text-3xl text-nav-text-green mt-8 mb-3">
            Toepasselijkheid
          </h3>
          <p class="lg">Deze algemene voorwaarden zijn van toepassing op alle aanbiedingen, bestellingen, overeenkomsten en leveringen van Bikestore Elektrische Fietsen.
            </p>
        </div>

        <div>
          <h3 class="font-medium font-sofia text-xl md:text-3xl text-nav-text-green mt-8 mb-3">
            Bestellingen en Overeenkomsten
          </h3>
          <p class="lg">Alle bestellingen zijn onderhevig aan acceptatie door Bikestore Elektrische Fietsen. Een overeenkomst komt pas tot stand na de schriftelijke bevestiging van Bikestore Elektrische Fietsen, of door het uitvoeren van de bestelling.
            De klant is verantwoordelijk voor de juistheid en volledigheid van de verstrekte informatie bij het plaatsen van een bestelling.</p>
        </div>

        <div>
          <h3 class="font-medium font-sofia text-xl md:text-3xl text-nav-text-green mt-8 mb-3">
            Prijzen en Betaling
          </h3>
          <p class="lg">
            Alle prijzen zijn vermeld in euro's en zijn inclusief btw, tenzij anders aangegeven.
            Betaling dient te geschieden op de wijze zoals aangegeven tijdens het bestelproces.
            Bikestore Elektrische Fietsen behoudt zich het recht voor om prijzen op elk moment te wijzigen. Prijswijzigingen hebben geen invloed op reeds geplaatste bestellingen.
          </p>
        </div>

        <div>
          <h3 class="font-medium font-sofia text-xl md:text-3xl text-nav-text-green mt-8 mb-3">
            Levering
          </h3>
          <p class="lg">
            Bikestore Elektrische Fietsen streeft ernaar om bestellingen zo spoedig mogelijk te leveren na ontvangst van de betaling.
            Leveringstermijnen zijn indicatief en niet bindend, tenzij uitdrukkelijk anders overeengekomen.
            De klant is verantwoordelijk voor het inspecteren van de geleverde producten en dient eventuele klachten binnen een redelijke termijn schriftelijk te melden aan Bikestore Elektrische Fietsen.
          </p>
        </div>


        <div>
          <h3 class="font-medium font-sofia text-xl md:text-3xl text-nav-text-green mt-8 mb-3">
            Retourneren en Garantie
          </h3>
          <p class="lg">
            De klant heeft het recht om binnen 14 dagen na ontvangst van de producten de koopovereenkomst te ontbinden zonder opgave van redenen.
            Producten kunnen alleen worden geretourneerd in de originele staat en verpakking, en moeten ongebruikt zijn.
            Bikestore Elektrische Fietsen biedt garantie op haar producten conform de wettelijke bepalingen en de garantievoorwaarden van de fabrikant.
          </p>
        </div>

        <div>
          <h3 class="font-medium font-sofia text-xl md:text-3xl text-nav-text-green mt-8 mb-3">
            Aansprakelijkheid
          </h3>
          <p class="lg">
            Bikestore Elektrische Fietsen is niet aansprakelijk voor indirecte schade, gevolgschade, winstderving of
            andere financiële schade die voortvloeit uit het gebruik van haar producten of diensten.
            De totale aansprakelijkheid van Bikestore Elektrische Fietsen is beperkt tot het bedrag van de bestelling.
          </p>
        </div>

        <div>
          <h3 class="font-medium font-sofia text-xl md:text-3xl text-nav-text-green mt-8 mb-3">
            Toepasselijk Recht en Geschillenbeslechting
          </h3>
          <p class="lg">
            Op alle overeenkomsten tussen de klant en Bikestore Elektrische Fietsen is uitsluitend het Nederlands recht van toepassing.
            Geschillen tussen de klant en Bikestore Elektrische Fietsen worden bij voorkeur in onderling overleg opgelost. 
            Indien dit niet mogelijk blijkt, zal het geschil worden voorgelegd aan de bevoegde rechter in het arrondissement waar Bikestore Elektrische Fietsen is gevestigd.
          </p>
        </div>

        <div>
          <h3 class="font-medium font-sofia text-xl md:text-3xl text-nav-text-green mt-8 mb-3">
            Wijzigingen
          </h3>
          <p class="lg">
            Bikestore Elektrische Fietsen behoudt zich het recht voor om deze algemene voorwaarden te allen tijde te wijzigen. 
            Gewijzigde voorwaarden zijn van toepassing op bestellingen die worden geplaatst na de datum van wijziging.
            Door een bestelling te plaatsen bij Bikestore Elektrische Fietsen, verklaart de klant akkoord te gaan met deze algemene voorwaarden
          </p>
        </div>
    
    </div>
 </div>
 <a href="#top" class="fixed right-4 bottom-4 text-white text-xs bg-fixed-nav-green p-2 rounded-full px-4 shadow-lg z-50"> Terug naar boven </a>


{% include 'footer.twig' %}
</body>