<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Bikestore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <script type="module" src="{{siteUrl}}/vue-assets/js/faqdetailpage-0E9rYRMy.js"></script>
    <link rel="stylesheet" href="{{siteUrl}}/vue-assets/css/style.css">
    <link rel="stylesheet" href="{{siteUrl}}/vue-assets/css/faqdetailpage-B6vksfLs.css">

     <link rel="icon" type="image/x-icon" href="{{siteUrl}}/vue-assets/assets/favicon.ico">
</head>
<body>
{% include 'upper-navbar.twig' %}
{% include 'navbar-hero.twig' %}
<div class="lg:h-824 flex lg:relative bg-nav-text-green lg:bg-white z-0">
        <!-- First column -->
        <div class="lg:w-2/5 hidden bg-primary-white col-span-12 lg:col-span-6 md:hidden lg:block">
            <div class="flex justify-start items-center lg:h-full">
                <div class="w-full flex flex-col text-left text-primary-white px-10 my-10 lg:my-auto">
                    <div class="text-nav-text-green font-semibold text-4xl lg:text-5xl xl:text-6xl font-inter mb-8">
                        <p>Wat zijn de voorwaarden voor de fiets-<br>verzekering?</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Second column -->
        <div
            class="w-full lg:block lg:w-3/5 md:w-5/5 bg-nav-text-green lg:bg-nav-text-green justify-center col-span-12 lg:col-span-6 md:col-span-12">
            <div class="flex justify-start items-center lg:h-full">
                <div class="w-full flex flex-col text-left text-primary-white my-10 pl-10 pr-10 lg:my-auto lg:pl-40 lg:pr-40 md:pl-20 md:pr-20">
                    <div class="text-unieke-services font-bold text-2xl lg:text-2xl xl:text-2xl font-inter mb-8">
                        <p>Wat zijn de voorwaarden voor de fietsverzekering?</p>
                    </div>
                    <div>
                        <ul class="dashed-list text-primary-white text-lg">
                            <li class="mb-5">
                                <p class="">
                                    De fiets mag niet door externe factoren beschadigd zijn
                                </p>
                            </li>
                            <li class="mb-5">
                                <p>
                                    De verzekering moet op tijd betaald worden
                                </p>
                            </li>
                            <li class="mb-5">
                                <p>
                                    De fiets mag niet beschadigd worden door natuurelementen
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="max-w-screen-xl md:mx-auto px-10 py-10">
    <div>
      <p class="text-black font-semibold text-2xl lg:mb-20 mb-0 mt-20">Meer <span class="text-nav-text-green">vragen</span> in deze categorie</p>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 font-semi-bold-custom">
        <div class="mb-6">
          <p class="">Hoeveel kost deze verzekering?</p>
        </div>
        <div class="mb-6">
          <p class="">Hoelang bedraagt de verzekerde periode?</p>
        </div>
        <div class="mb-6">
          <p class="">Kan ik deze verzekering annuleren?</p>
        </div>
        <div class="mb-6">
          <p class="">Kan ik deze verzekering achteraf betalen?</p>
        </div>
        <div class="mb-6">
          <p class="">Wat is het nut van deze verzekering?</p>
        </div>
        <div class="mb-6">
          <p class="">Geld deze verzekering ook op tweedehands fietsen?</p>
        </div>
      </div>
    </div>
  </div>
{% include 'footer.twig' %}
</body>
</html>